

body {
background-image: url('/Users/hilarylamb/Desktop/TriviaGame/assets/images/000063670030.jpg');
background-size: cover;
}

h1 {
    font-family: 'Codystar', cursive;
    background-color: silver;
    color: white;
}
.jumbotron {
    background-color:silver;
    margin-top: 20px;
    height: 225px;
    
}

.card {
    margin-left: 300px;
    width: 50%;
    padding: 20px;
    background-color: silver;
    color: white;
}

.answer {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius:0;
    background-color: lightblue;
    margin-top: 10px;
}